@import url('https://fonts.googleapis.com/css?family=Roboto:300');


body {
   background-image: url("../images/background.jpg");
}
    

 
div.card-img-overlay{
    text-align:center;

   
  }

.quizPage{
padding-top: 2%;
    text-align: center;
    
    margin:30px 50px 100px 50px;
    padding-bottom: 10px;
    border-radius: 4px;
    border:1px black solid;
    background-color: #cccccc; 
    background-image: linear-gradient(green,rgba(255, 255, 0, 0.781), green);
    
    
}


.submitPage{
    
        text-align: center;
        
    }


  .a1{

    font-family:'Roboto';
    
    font-size:32px; 

  }


  #submitBtn{

 margin-top:2rem;
    width:160px;
    border:1px red solid;
    
    font-weight: bold;
  }
  #startUpBtn{
      margin-top:10rem;
      
      width:160px;
      border:1px red solid;
     
      font-weight: bold;
  }

  #restartBtn{
    margin-top:2rem;
    width:160px;
    border:1px red solid;
    font-weight: bold;
    cursor: 

  }

  


  .results{

    background-color: #218838;
    color:white;
    font-size: 20px;
    border:black 1px solid;
    border-radius: 2px;
  }

.quesText{

    color:black;
    font-size:18px;
}

.choiceText{
    color:black;
}


#startScreen{
    margin:40px 180px 40px 180px;
    
   
}

#submitScreen{
    margin:40px 180px 40px 180px;

}


.textAnimated{
    background-color: black;
    color:red;
    font-weight: bold;
    margin-top:60px;
}



/* ///////////////////////////////// */
div.a1 {
    display:inline-block;
    overflow:hidden;
    
  }
  
  div.a1:first-of-type {    
    animation: showup 7s infinite;
  }
  
  div.a1:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  div.a1:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  


  /* /////////////flash/////////// */

  #timer, #counterText{
    color:black;
      -webkit-animation: flash linear 2s infinite;
      animation: flash linear 5s infinite;
  }
  @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }
  @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }




  /* ////////////sticky///////////// */

  #timer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #007bff;
    padding: 50px;
    padding:10px;  
    font-size: 20px; 
    border-radius: 4px;
    border:1px red solid;
    
}